<h1>   Category id with <%= category.id  %></h1>
Category title : <%= category.title %><br>
<p>Category Description :  <%= category.description %></p>
<%= link_to 'destroy', category_path(category), method: :delete %>